---
apiVersion: v2
name: joplin
description: Joplin is an open source note-taking app. Capture your thoughts and securely access them from any device.
version: 1.0.3
appVersion: "2.12-beta"
icon: https://raw.githubusercontent.com/RubxKube/charts/main/img/joplin-logo.png
keywords:
 - joplin
home: https://joplinapp.org/
maintainers:
 - email: github@thoughtless.eu
   name: QJOLY
   url: https://thebidouilleur.xyz
sources:
 - https://github.com/laurent22/joplin
 - https://github.com/QJoly/helm-charts
dependencies:
 - name: common
   repository: https://rubxkube.github.io/common-charts
   version: v0.2.0
 - name: postgresql
   version: 12.8.5
   repository: https://charts.bitnami.com/bitnami
   condition: postgresql.enabled
