<p align="center">
    <img src="https://helm.sh/img/helm.svg" width="140px" alt="Helm LOGO"/>
    <br>
    <a href="https://rubxkube.github.io/common-charts/"><img src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&pause=1000&color=0F1689&background=FFFFFF00&center=true&vCenter=true&width=435&lines=QJOLY's+Chart+Repository;qjoly.github.io%2Fhelm-charts;+Feel+free+to+contribute" alt="Typing SVG" /></a>
</p>

[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/qjoly)](https://artifacthub.io/packages/search?repo=qjoly)

# How to use ? 

```bash
helm repo add rubxkube-common https://rubxkube.github.io/common-charts/ # Add the repo to your helm
```

# Charts

CHARTS_TABLE

# Contributing 

We gladly accept Pull-Requests, feel free to open one if you want to correct/add a chart. Besure to follow the [chart best practices](https://helm.sh/docs/chart_best_practices/).