| Name  | Description | Chart Version | App Version |
|-------|-------------|---------------|-------------|
{%+ for chart in charts -%}
| {{ chart[0] }} | {{ chart[1]}} | {{ chart[2] }} | {{ chart[3] }} |
{%+ endfor %}