---
name: Testing charts
on:
  push:
    branches:
      - '*'
      - '!main'
  pull_request:
    types:
      - opened
      - synchronize
      - edited
      - reopened

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML files
        run: yamllint .

  test-charts:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5.1.0

      - uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Get changed files in the charts folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v40
        with:
          files: charts/**

      - name: Create k8s Kind Cluster
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: helm/kind-action@v1.8.0

      - name: Install kubectl
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: Azure/setup-kubectl@v3

      - name: Run lint for any chart concerned by the commit
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
         .github/workflows/lint_modified_charts.sh ${{ steps.changed-files-specific.outputs.all_changed_files }}

      - name: Run test for any chart concerned by the commit
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
         .github/workflows/deploy_modified_charts.sh ${{ steps.changed-files-specific.outputs.all_changed_files }}
